* {
  margin: 0;
}

.header {
  background-color: cyan;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  width: 100%;
  position: fixed;
  z-index: 6;
  a {
    text-decoration: none;
  }

  a:hover {
    color: red;
  }
}



.header_wrapper{
  display: flex;
  justify-content: space-between;
  width: 90%;
}


.hamburger {
  font-size: 20px;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  display: none;
}

.heroSection {
  overflow: hidden;
  position: relative;

  img {
    width: 100%;
  }
}

.bioHolder {
  /* background-color: red; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  position: absolute;
  bottom: 1px;
  width: 100%;
}

.profileImg {
  border-radius: 50%;
}

.imageHolder {
  display: flex;
  gap: 15px;

  img {
    border-radius: 50%;
  }
}

.AboutSection {
  background-image: url("./images/section-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 300px;
}

.pHolder {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 15px;

  p {
    text-align: center;
    color: white;

    span {
      color: green;
    }
  }
}

.overlay {
  background-color: rgba(0, 0, 255, 0.229);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 30px 0px;
  gap: 15px;

  h2 {
    color: white;
  }
}

.experienceHolder {
  background-color: grey;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  padding: 20px 0px 15px 0px;
}

.experienceBoxes {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.box1 {
  background-color: white;
  padding: 10px;
  border-radius: 20px;
  width: 45%;
  display: flex;
  gap: 15px;
}

.boxText {
  color: black;

  h2 {
    color: black;
  }
}

.boxImage {
  /* background-color: red; */

  img {
    height: 70px;
  }
}

.liHolder {
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.downloadSection {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  padding: 30px 0px;

  p {
    width: 60%;
    text-align: center;
    color: white;
  }
}

.button {
  background-color: lightgreen;
  border: none;
  outline: none;
  height: 30px;
  width: 100px;
  border-radius: 50px;
  color: white;
}

.button:hover {
  background-color: white;
  color: green;
  cursor: pointer;
}

.portfolioHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  padding: 30px 0px;
}

.contactSection {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0px;
  gap: 20px;
  flex-direction: column;
}

.contactDetails {
  display: flex;
  justify-content: space-between;
  width: 95%;
}

.contactForm {
  width: 45%;
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.input {
  height: 30px;
  width: 90%;
  border: 2px solid green;
  outline: none;
  padding-left: 10px;
  border-radius: 4px;
}

.select {
  height: 35px;
  width: 93%;
  border: 2px solid green;
  outline: none;
  padding-left: 10px;
  border-radius: 4px;
}

.contactmap {
  width: 45%;
}

.radio {
  display: flex;
  align-items: center;
  gap: 5px;
}

.textarea {
  height: 200px;
  width: 92%;
  border: 2px solid green;
  outline: none;
  padding-left: 10px;
  border-radius: 4px;
}

.expensesHolder {
  background-image: url("./images/section-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.table {
  border-color: white;
  th,
  td {
    color: white;
  }
}

.footter {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 0px;
}

.footer {
  background-color: black;
  border-radius: 20px;
  width: 80%;
  padding: 35px 20px 30px 20px;
  display: flex;
  gap: 30px;
  flex-direction: column;
}

.footer_first {
  display: flex;
  justify-content: space-between;
}

.footer_box {
  width: 25%;
  display: flex;
  gap: 10px;
  flex-direction: column;

  h1 {
    color: white;
  }

  a {
    text-decoration: none;
    color: white;
  }
}

.footer_link {
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.footer_info {
  display: flex;
  gap: 10px;

  p {
    color: white;
  }
}

.icon_location {
  color: white;
}

.footer_second {
  display: flex;
  align-items: center;
  justify-content: space-between;

  h3 {
    color: white;
  }
}

/* RESPONSIVENESS CODE */

@media screen and (max-width: 500px) {
  * {
    overflow-x: hidden;
  }

  .heroSection {
    img {
      height: 300px;
      object-fit: cover;
    }
  }

  .profileImg {
    height: 150px;
    width: 150px;
  }

  .bioHolder {
   display: none;
    h1 {
      font-size: 25px;
    }

    h2 {
      font-size: 17px;
    }

    h3 {
      font-size: 16px;
    }
  }

 .AboutSection{
  margin-top: -100px;
 }
  .pHolder {
    width: 90%;
  }

  .experienceBoxes {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
  }

  .box1 {
    width: 90%;
  }

  .downloadSection {
    p {
      width: 90%;
    }
  }

  .contactDetails {
    display: flex;
    flex-direction: column-reverse;
    gap: 20px;
  }

  .contactmap {
    overflow: hidden;
    width: 100%;
  }

  .contactForm {
    width: 100%;
  }

  .expensesHolder {
    overflow: hidden;

    table {
      width: 400px;
    }
  }

  .footer_first {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .footer_box {
    width: 100%;
  }

  .footer_second {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: start;
  }


}



.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.nav {
  display: none; /* Initially hidden for mobile */
}



.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links a {
  text-decoration: none;
  color: white;
  transition: color 0.3s ease;
}

@media screen and (max-width:450px) {
   .AboutSection{
    margin-top: 200px;
  }

  .bioHolder{
     position: absolute;
    bottom:450px;
  }
}


@media (min-width: 768px) {
  .nav {
    display: block;
  }

  .hamburger {
    display: none;
  }
}



@media (max-width: 768px) {
  .hamburger {
    display: block;
    background-color: red;
  }


  .nav.active {
    display: block;
    position: absolute;
    top: 60px;
    right: 20px;
    background: #333;
    padding: 10px;
    border-radius: 5px;
  }

  .nav-links {
    flex-direction: column;
    gap: 10px;
  }
}
